# Configuration files
sdkconfig
sdkconfig.old
dependencies.lock

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Production folder
build/
**/build/
!build/config
build/config/*
!build/config/kconfig_menus.json
!build/config/sdkconfig.json

# Test folder
test/build/*
test-ci/

# HTML documentation
html_doc/

components/components/*
config.bin
config.cvs
managed_components/*

# System files
.DS_Store
Thumbs.db
debug.log
.vscode
.cache

# Device list file for tools/upload2device.py
devices.txt

backup_*.json
*.private
private/


telemetry_*.json
baseline_telemetry.json
current_telemetry.json
build_wsl/
build*/
